.head1{
  font-size: 1px;
}
  
body {
  margin: 0px;
  padding: 0px;
  background: url(images/9.jpg);
  background-size: cover;
  color: rgb(238, 225, 225);
  
}



.right {
  display: inline-block;
   font-size:5em ;
  position: fixed;
  right: 8em;
  top: 4em;
  padding: 2em 6em 1em 6em;
  margin-left: 3em ;
}

.mid {
  display:block;
 position: relative;
 left: 35em;
  width: 200em;
  margin: 4em 0em 3em 25em;
  font-size:5em;

}

.left {
  display: inline-block;
  font-size: 5em;
  position: absolute;
  left: 8em;
  top: 0em;
  height: 35em;
  width: 35em;
  padding: 2em 4em;
  overflow: auto;
}

.navbar {
  display: inline-block;
font-size: ;

}


.navbar li a:hover {
  background-color: rgba(114, 39, 5, 0.986);
}

.navbar li {
  display: inline-block;
  font-size: 5em;
}

.navbar li a {
  color: rgb(250, 240, 240);
  text-decoration: none;
  padding: 34px 23px;
}

.left .h1 .sp1 {
  color: red;
  font-size: 1em;
  
}

.btn {
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0em 1em;
  border-radius: 2em;
  font-size:3em ;
}

.btn:hover {
  color: black;
  background-color: wheat;
}

.left img {
  width: 10em;

}
.text{
  font-size: 3em;
}

.left div {
  display: inline-block;
  font-size: 20px;

}
.container{
  height:300px;
  width: 100%;
  border:2px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0%;
  
  
 
}
.item{
  display: flex;
  border:2px solid red;
  background-color: aqua;
  overflow: hidden;
  
  color:black;
  margin:10px;
  padding: 0px;
  width: 250px;
  height: 200px;
  position: relative;
  top: 20px;
  align-items: center;
  justify-content: space-around;
  
}
.h2{
  text-align: center;

}
.h2 .sp1{
  color:rgb(255, 253, 253);
  background-color: red;
}
.h3{
  text-align: center;
  transform: matrix3d(20deg);
  color: rgb(255, 255, 255);
  background-color: rgb(53, 20, 20);
  border-radius: 20px;
}
#item1{
  background: url(images/2.jpg);

  
  
}
.item a{
  background-color: rgb(226, 101, 101);
  color: white;
  text-decoration: none;
  padding-left: 15px;
  width: 150px;
  border-radius: 10px;
}

 a:hover{
 background-color: rgb(114, 39, 5, 0.986);
}
.text{
  font-size: 3em;
}